body {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    overflow-x: hidden;
}

.mb-3 {
    margin-bottom: 0 !important;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
}

hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

.wenyname {
    font-family: "Noto Sans", sans-serif;
    font-size: xx-large;
    font-weight: 600;
    color: #2975D9; /* 글자색 */
    text-decoration-line: none;
}

.search_area {
    padding: 20px;
}

.search-box {
    position: absolute;
    z-index: 1000; /* 다른 요소들 위에 표시 */
    top: 110%;
    /* border: black solid 1px; */
    background-color: white; /* 검색 결과 박스의 배경색 */
    border-radius: 5px; /* 검색 결과 박스의 모서리 둥글게 */
    color: black;
    width: 100%; /* 검색 결과 박스의 너비를 검색창과 같게 설정 */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search-ul {
    list-style: none;
    padding-left: 0px;
    margin: 5px;
}

.search-ul li {
    cursor: pointer;
}

.hide {
    display: none;
}

.recent {
    margin-bottom: 0px;
    color: rgb(78, 78, 78);
    font-size: small;
}